<div class="row">
    <div class="large-12 columns">
        <section>
            <div data-alert class="alert-box {{ alerts.type }}" ng-show="alerts">
                {{ alerts.message }}
                <a href="#" class="close">&times;</a>
            </div>
            <h2>Create a Note</h2>
            <form name="noteForm">
                <div class="panel">
                    <div id="note-field" ng-model="note.secure_note" medium-editor options='{"placeholder": "Start your note here...", "buttons": ["bold", "italic", "underline", "anchor"]}'></div>
                </div>

                <label ng-class="{error: noteForm.email.$invalid}">Enter your e-mail address if you would like to be notified when your note has been read.
                    <input name='email' type="email" placeholder="E-mail" ng-model="note.email" />
                </label>
                <small class="error" ng-show="noteForm.email.$invalid">Invalid E-mail</small>
                <button class="button success" ng-click="create()" ng-disabled="!note.secure_note || noteForm.$invalid">Create</button>
                <a href="#/" class="button secondary">Cancel</a>
            </form>
        </section>
    </div>
</div>