<div class="row">
    <div class="large-12 columns">
        <section>
            <h2 ng-show="!note.secure_note">Searching for Note...</h2>
            <h2 ng-show="note.secure_note">Note Found</h2>
            <div class="panel callout" ng-show="note.secure_note">
                <div ng-bind-html="note.secure_note"></div>
            </div>
            <p ng-show="note.secure_note">
                <a class="button" href="/#/create">Create A New Note</a>
            </p>
        </section>
    </div>
</div>