<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">OneTimeNote</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
        <!-- right Nav Section -->
        <ul class="right">
            <li><a href="#">About</a></li>
            <li class="divider"></li>
            <li class="has-form"><a href="#/create" class="button small"><i class="foundicon-page" style="position: relative; left: -3px; top: 2px"></i>Create Note</a></li>
        </ul>
    </section>
</nav>